body{
    background-color: #161b22;
    color: #c8d1d9;
    margin: 0;
}
a{
    color: #58a6ff;;
}
ul{
    margin: 0;
}

.Main{
    background-color: #0d1117;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.contentLeft{
float: left;
width: 80%;
}

.contentRight{
float: right;
width: 20%;
}

.clear{
    clear: both;
}

.LinksLeft{
    float: left;
}
.LinksRight{
    float: right;
}

.LinksRight ul li{
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
}
.LinksRight ul li:nth-last-of-type{
    border-right: 0 none;
}

.headerMiddle .logoLeft,
.headerMiddle .logoMiddle,
.headerMiddle .logoRight{
    float: left;
    width: 33.33%;
}

.headerMiddle .logoLeft img{
    width: 100%;
    max-width: 200px;
}

.headerMiddle .logoMiddle h1{
    line-height: 25px;
}

.headerMiddle .logoMiddle{
    text-align: center;
}

.headerMiddle .logoRight{
    text-align: right;
}

.headerTop, .headerMiddle{
    margin-bottom: 15px;
}
.headerMiddle .logoRight input[type="search"] {
    text-align: left;
}

.searchField{
    position: relative;
}

.searchField i{
    position: absolute;
    top: 5px;
    right: 5px;
    color: gray;
    cursor: pointer;
}

.contentLeft .image{
    float: left;
    /* width: calc(20% - 10px); */
    margin-right: 10px;
}

.contentLeft .NewsInfo{
    float: left;
    /* width: 80%; */
}

.articleImage{
    float: left;
    width: 18%;
    height: auto;
    margin-right: 2%;
}

.NewsInfo{
    float: left;
    width: 80%;
}

.content{
    padding: 10px;
}

.headerLink{
    text-decoration: none;
}

.portali li{
float: left;
margin-right: 5%;
list-style: none;
}

.portali li::before{
    content: "-";
}

.headerLink :hover{
text-decoration: underline;
}

@media screen and (max-width: 450px){
    body{
        background-color: red;
    }
}


